@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  height: 45px;
  padding: 20px;
  background-color:#dcf11c ;
  margin: 0 3px;
  border: 2px solid #444444;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 7px 5px 15px rgba(190, 86, 86, 0.5), -7px -5px 15px rgba(200, 212, 96, 0.5);
  font-family: 'Blaka', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Passion One', cursive;
font-size: large;
}
.button:hover{
  transform: scale(1.05);
  transition: ease-in-out 0.13s;
}
.row{
  margin: 7px 0;
}
.row input:hover{
transform: scale(1.05);
  transition: ease-in-out 0.13s;
}
.rowf{
  padding: 15px;
  margin: 75px 90px;
  border: 5px solid #232323;
  border-radius: 5px;
  background-color: #cecbcb;
}
.x{
    margin-top: 0px;
    margin-bottom: 22px;
}
.row input{
  position: relative;
  left:3px;
  width: 280px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
  box-shadow: 7px 5px 15px rgba(190, 86, 86, 0.5);
}
.text-center{
  text-align: center;
/*   font-family: 'Blaka', cursive; */
/* font-family: 'Inter', sans-serif; */
font-family: 'Lato', sans-serif;
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Passion One', cursive; */
font-size: xx-large;
margin-bottom: -50px;
margin-top: 60px;
}
body{
  background:#8a9cb9;
}
.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

